# dependencies
/node_modules

# System Files
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Links
*.lnk
.idea/
*.PEM
.vscode/

# Logs
npm-debug.log

# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variables file
.env
.env.test
.env.production
.env.local
.env.*.local


# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Visual Studio Code CTL
.history

# JetBrains IDEs:
.idea/
*.iws
*.iml
*.ipr

# Misc
.DS_Store
Thumbs.db

# Build output
dist/
